{% extends 'layouts/business_base.html' %}
{% block meta_tags %}
	<meta charset="UTF-8">
	<meta name="description" content="{{appt.org_description}} ">
	<meta name="keywords" content="{{appt.org_short_description}}">
	<meta name="author" content="{{appt.org_name}} ">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block title %}
 {{appt.org_short_description}} 
{% endblock %}

{% block content %}
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="index.html">eNno</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="/static/assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="index.html">Home</a></li>
		 {% if about.id is not none %}
          <li><a href="#about">About</a></li>
		  {% else %}
		  {% endif %}
		 {% if services.id is not none %}
          <li><a href="#services">Services</a></li>
		  {% else %}
		  {% endif %}
		 {% if portfolio.id is not none %}
          <li><a href="#portfolio">Portfolio</a></li>
		  {% else %}
		  {% endif %}
		 {% if team.id is not none %}
          <li><a href="#team">Team</a></li>
		  {% else %}
		  {% endif %}
          <li class="drop-down"><a href="">Drop Down</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="drop-down"><a href="#">Deep Drop Down</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>
          <li><a href="{{ url_for('public.contact') }}">Contact</a></li>

        </ul>
      </nav><!-- .nav-menu -->

      <a href="#about" class="get-started-btn scrollto">Get Started</a>

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Portfolio Details</h2>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">
		<img src="http://localhost:5000/static/images/{{ portfolio.image}}" class="img-fluid" alt="">
        <div class="portfolio-description">
          <h2>		{{ portfolio.portfolio_name}} </h2>
		  <h2>
		  			  {% if portfolio["currency"] == "British Pounds" %}
			  &pound;{{ portfolio.portfolio_price}}
			  {% elif portfolio["currency"] == "Naira" %}
			   &#8358;{{ portfolio.portfolio_price}}
			   {% elif portfolio["currency"] == "US Dollars" %}
			   &dollar;{{ portfolio.portfolio_price}}
			   {% elif portfolio["currency"] == "Euro" %}
			   &euro;{{ portfolio.portfolio_price}}
			   {% else %}
			  {% endif %}
			</h2>
          <p>
		{{ portfolio.portfolio_description}}     
		</p>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

{% endblock %}