<meta name="charset" content="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="stylesheet" type="text/css" href="/static/assets/css/style.css">
<link rel="stylesheet" type="text/css" href="/static/assets/css/vendor/bootstrap/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/static/assets/css/vendor/bootstrap/css/bootstrap.css.map">
<link rel="stylesheet" type="text/css" href="/static/assets/css/vendor/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/assets/css/vendor/bootstrap/css/bootstrap-grid.css">
<link rel="stylesheet" type="text/css" href="/static/assets/css/vendor/bootstrap/css/bootstrap-grid.min.css">
<link rel="stylesheet" type="text/css" href="/static/assets/css/vendor/bootstrap/css/bootstrap-grid.css.map">
<link rel="stylesheet" type="text/css" href="/static/assets/css/vendor/bootstrap/css/bootstrap-grid.min.css.map">
<link rel="stylesheet" type="text/css" href="/static/assets/css/vendor/bootstrap/css/bootstrap-reboot.css">
<link rel="stylesheet" type="text/css" href="/static/assets/css/vendor/bootstrap/css/bootstrap-reboot.css.map">
<link rel="stylesheet" type="text/css" href="/static/assets/css/vendor/bootstrap/css/bootstrap-reboot.min.css">
<link rel="stylesheet" type="text/css" href="/static/assets/css/vendor/bootstrap/css/bootstrap-reboot.min.css.map">

<link rel="stylesheet" type="text/css" href="/static/assets/css/vendor/boxicons/css/animations.css">
<link rel="stylesheet" type="text/css" href="/static/assets/css/vendor/boxicons/css/boxicons.css">
<link rel="stylesheet" type="text/css" href="/static/assets/css/vendor/boxicons/css/boxicons.min.css">
<link rel="stylesheet" type="text/css" href="/static/assets/css/vendor/boxicons/css/transformations.css">

<link rel="stylesheet" type="text/css" href="/static/assets/css/vendor/icofont/fonts/icofont.woff">
<link rel="stylesheet" type="text/css" href="/static/assets/css/vendor/icofont/fonts/icofont.woff2">


<link rel="stylesheet" type="text/css" href="/static/assets/css/vendor/owl.carousel/assets/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="/static/assets/css/vendor/owl.carousel/assets/owl.carousel.min.css">
<link rel="stylesheet" type="text/css" href="/static/assets/css/vendor/owl.carousel/assets/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="/static/assets/css/vendor/owl.carousel/assets/owl.theme.default.min.css">
<link rel="stylesheet" type="text/css" href="/static/assets/css/vendor/owl.carousel/assets/owl.theme.green.css">
<link rel="stylesheet" type="text/css" href="/static/assets/css/vendor/owl.carousel/assets/owl.theme.green.min.css">

<link rel="stylesheet" type="text/css" href="/static/assets/css/vendor/venobox/venobox.css">
<link rel="stylesheet" type="text/css" href="/static/assets/css/vendor/venobox/venobox.min.css">


<script type="text/javascript" src="/static/assets/js/main.js"></script>

<script type="text/javascript" src="/static/assets/css/vendor/isotope-layout/isotope.pkgd.js"></script>
<script type="text/javascript" src="/static/assets/css/vendor/isotope-layout/isotope.pkgd.min.js"></script>

<script type="text/javascript" src="/static/assets/css/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/static/assets/css/vendor/jquery/jquery.min.map"></script>
<script type="text/javascript" src="/static/assets/css/vendor/jquery.easing/jquery.easing.min.js"></script>

<script type="text/javascript" src="/static/assets/css/vendor/owl.carousel/owl.carousel.js"></script>
<script type="text/javascript" src="/static/assets/css/vendor/owl.carousel/owl.carousel.min.js"></script>

<script type="text/javascript" src="/static/assets/css/vendor/owl.carousel/assets/owl.carousel.js"></script>
<script type="text/javascript" src="/static/assets/css/vendor/owl.carousel/assets/owl.carousel.min.js"></script>

<script type="text/javascript" src="/static/assets/css/vendor/venobox/venobox.js"></script>
<script type="text/javascript" src="/static/assets/css/vendor/venobox/venobox.min.js"></script>
<script type="text/javascript" src="/static/assets/css/vendor/waypoints/jquery.waypoints.min.js"></script>

<script type="text/javascript" src="/static/assets/css/vendor/counterup/counterup.min.js"></script>




<!-- Favicons -->
<link href="/static/assets/img/favicon.png" rel="icon">
<link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
